* {
  margin: 0;
  padding: 0;
}

:root{
  font-size: 16px;
}

body {
  background-color: #212121;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
}

#setUp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

#name {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 1.25rem;
}

#pName {
  font-size: 1.25rem;
  padding: 2px 4px;
}

#placementGrid {
  background-color: #A3CFA7;
  width: 25rem;
  height: 25rem;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
}

.row {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.container {
  border: 1px solid #FFF1DE;
}

.draggable {
  border: 1px solid black;
  background-color: rgba(49, 49, 49, 0.5);
  cursor: move;
  height: 36px;
  width: 36px;
}

.draggable .dragging {
  opacity: .9;
}

#span1 {
  position: relative;
  border: 1px solid black;
  background-color: rgba(49, 49, 49, 0.5);
  padding-top: 10px;
  padding-bottom: 9px;
  padding-right: 36px;
  top: 10px;
  left: 30px
}

#span2 {
  position: relative;
  border: 1px solid black;
  background-color: rgba(49, 49, 49, 0.5);
  padding-top: 10px;
  padding-bottom: 9px;
  padding-right: 76px;
  top: 10px;
  left: 30px;
}

#span3 {
  position: relative;
  border: 1px solid black;
  background-color: rgba(49, 49, 49, 0.5);
  padding-top: 10px;
  padding-bottom: 9px;
  padding-right: 76px;
  top: 10px;
  left: 30px;
}

#span4 {
  position: relative;
  border: 1px solid black;
  background-color: rgba(49, 49, 49, 0.5);
  padding-top: 10px;
  padding-bottom: 9px;
  padding-right: 116px;
  top: 10px;
  left: 30px;
}

#span5 {
  position: relative;
  border: 1px solid black;
  background-color: rgba(49, 49, 49, 0.5);
  padding-top: 10px;
  padding-bottom: 9px;
  padding-right: 156px;
  top: 10px;
  left: 30px;
}

#startBtn {
  padding: 0.25rem 0.5rem;
  font-weight: bolder;
  font-size: 1rem;
}

#instructions {
  font-size: 1.5rem;
}

#pNameError {
  color: red;
}

#gridError {
  color: red;
}

#gameContainer {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

#turn {
  font-size: 3rem;
  font-weight: 600;
}

#game {
  display: flex;
  gap: 2rem;
}

#playerBoard {
  background-color: #A3CFA7;
  width: 25rem;
  height: 25rem;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
}

.playerRow {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.playercontainer {
  border: 1px solid #FFF1DE;
}

#computerBoard {
  background-color: #cfa3a3;
  width: 25rem;
  height: 25rem;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
}

.computerRow {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.computercontainer {
  border: 1px solid #FFF1DE;
}

.hit {
  background-color: #ca6f6f;
}

.miss {
  background-color: #9190ce;
}